{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["@makerx/eslint-config"],
  "rules": {
    "no-restricted-syntax": [
      "error",
      {
        // Algosdk v2.x.x exports a malformed ES module and when using utils-ts in an ESM project
        // the CJS module may be loaded, which may not fuly support all named exports.
        // The easiest solution for now, is to only use the default export.
        "message": "Only use the default export in 'algosdk'. See rule comment for details",
        "selector": "ImportDeclaration[source.value=\"algosdk\"] ImportSpecifier"
      },
      {
        "message": "__dirname cannot be used in ESM modules. Use a shim instead.",
        "selector": "Identifier[name=\"__dirname\"]"
      },
      {
        "message": "__filename cannot be used in ESM modules. Use a shim instead.",
        "selector": "Identifier[name=\"__filename\"]"
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.spec.ts"],
      "rules": {
        "no-restricted-syntax": 0
      }
    }
  ]
}
