import { Logger } from '@algorandfoundation/algokit-common';

export interface ClientConfig {
  baseUrl: string;
  port?: string | number;
  token?: string | { [name: string]: string };
  headers?: Record<string, string>;
  /** Optional override for retry attempts. Defaults to 4 retries. Set to 0 to disable retries. */
  maxRetries?: number;
  logger?: Logger;
}
