import { Expand } from '@algorandfoundation/algokit-common';
import type { TransactionParams } from './transaction-params';

/** Contains parameters relevant to the creation of a new transaction in a specific network at a specific time. */
export type SuggestedParams = Expand<
  Omit<TransactionParams, 'lastRound'> & {
    flatFee: boolean
    firstValid: bigint
    lastValid: bigint
  }
>;

// This is never used, just to satisfy the import generator pattern
export type SuggestedParamsMeta = undefined
