import type { ClientConfig } from './core/client-config';
import type { BaseHttpRequest } from './core/base-http-request';
import { FetchHttpRequest } from './core/fetch-http-request';
import { {{ service_class_name }} } from './apis/api.service';

export class {{ client_class_name }} extends {{ service_class_name }} {
  constructor(config: ClientConfig, request?: BaseHttpRequest) {
    super(request ?? new FetchHttpRequest(config));
  }
}
