import type { Transaction } from '@algorandfoundation/algokit-transact';
import type { SignTxnRequest } from './sign-txn-request';
import type { Expand } from '@algorandfoundation/algokit-common';

export type SignTransactionRequest = Expand<Omit<SignTxnRequest, 'transaction'> & { transaction: Transaction }>;
