name: Pull Request

on:
  pull_request:
    branches: [main, decoupling]

permissions:
  contents: read

jobs:
  setup-polytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: npm ci

      - name: Setup Polytest
        uses: algorandfoundation/algokit-polytest/.github/actions/setup-polytest@main

      - name: Validate polytest algod_client tests
        run: npm run polytest:validate-algod

  build-and-test:
    needs: setup-polytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run CI
        uses: ./.github/actions/ci
        with:
          node-version: 20.x
          commit-lint-from: ${{ github.event.pull_request.base.sha }}
          commit-lint-to: ${{ github.event.pull_request.head.sha }}

  check-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Check docs are up to date
        run: |
          npm ci --ignore-scripts
          npm run generate:code-docs
          # Add untracked files as empty so they come up in diff
          git add -N .
          # Print changed files and error out if there are changes after generating docs
          git diff --exit-code --name-only
